/RxByExample.Test/TestResults
/RxByExample.Test/RxDojoWeb/obj
/RxByExample.Test/RxDojoWeb/bin
/RxByExample.Test/RxByExample.Test/bin
/RxByExample.Test/RxByExample.Test/obj
/RxByExample.Test/ProductServices.WebApi/obj
/RxByExample.Test/ProductServices.WebApi/bin
/RxByExample.Test/RxApp/obj
/RxByExample.Test/RxApp/bin
/RxByExample.Test/packages
/RxByExample.Test/RxDojoWeb
/RxByExample.Test/ProductServices.WebApi
/RxByExample.Test/RxApp.Web
